mat-chip.aupair {
    background-color: #443B95!important;
    color: #FFFFFF!important;
}

mat-chip.admin {
    background-color: #8E9B90!important;
    color: #ffffff!important;
}

mat-chip.family {
    background-color: #E9B2B0!important;
    color: #000000!important;
}

th {
    text-align: center!important;
    background-color: #443B95!important;
    color: #FFFFFF!important;
}

td {
    text-align: center!important;
}

#deleteIcon {
    color: #3A405A;
    cursor: pointer;
}