<h1>Añadir usuario</h1>
<div fxFlexFill fxLayoutAlign="center center" fxLayout="row">
    <form fxLayout="column" fxFlexFill [formGroup]="form">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Nombre..." [formControl]="form.controls['name']">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Email" [formControl]="form.controls['email']">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Contraseña" [formControl]="form.controls['password']">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Role (aupair o family)" [formControl]="form.controls['role']">
        </mat-form-field>

        <div fxLayoutAlign="end end">
            <button mat-button type="button" class="btn btn-rounded btn-primary" fxFlex="20%" (click)="addUser()">Añadir</button>
        </div>

    </form>
</div>